* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
